<div class="review">
  <%= link_to review_path(review) do %>
    <h2><%= review.title %></h2>
    <p>
      <%= review.cuisine %> –
      <%= pluralize review.comments.count, "comment" %>
    </p>
  <% end %>
</div>
